In [1]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv("E:\\VIT\\Semester 4\\Machine Learning\\LAB\\book1.csv")

In [3]:
data.head()

   Height  Weight
0     5.8   80000
1     6.3   65000
2     5.7   65900
3     5.2   78000
4     5.5   78200

In [5]:
arr = data.values

In [6]:
X = arr[:,0:1] 
Y = arr[:,1:2]

In [7]:
scaler = StandardScaler().fit(Y) 
rescaledY = scaler.transform(Y)

In [8]:
np.set_printoptions(precision=3)

In [9]:
rescaledY[0:10]

array([[-0.375],
       [-1.661],
       [-1.584],
       [-0.547],
       [-0.53 ],
       [-0.787],
       [-0.71 ],
       [-0.461],
       [-0.289],
       [-0.53 ]])